
* {
    padding: 0;
    margin: 0;
}
.collapse {
    li {
        font-size: 22px;
        margin-left: -10px;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: double;


    }

    .nav-item1 {

        font-family: Arial, Helvetica, sans-serif
    }

}

.collapse li:hover {

    background-color: rgb(163, 210, 241);
}


.logo img{
    width: 50px;
    height: 50px;
}
