* {
    padding: 0;
    margin: 0;
}



.hero {

    flex: auto;
    width: 100%;
    height: 550px;
    background-image: url(../IMG/FONDOSN.png);
    padding-top: 20px;
    padding-bottom: 10px;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.animate__animated.animate__pulse {
    --animate-duration: 1s;

}


#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 10px;

}


#galeria img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#galeria img:hover {
    border-radius: 5px;
    border: 5px solid #c1e2fc;
}


.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 120px;
    right: 25px;
    background-color: #1cd149;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

@media (min-width:1024px) {


    .hero img {
        width: 1300px;
        padding-top: 30px;
    }

}

@media (min-width: 768px) {

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 2fr);
    }

    img {
        width: 100%;
        height: 100%;
    }

    .gallery__title {
        width: 100%;

    }
}

@media (max-width: 575.98px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 2fr);
    }

    img {
        width: 550px;
        height: 100%;
    }


    .hero {
        padding-top: 0px;
        width: 500px;
        height: 300px;
    }



}

@media (maxm-width: 400.10px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 2fr);
    }

    img {
        flex: auto;
    }

    .hero {
        flex: auto;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

}

body {
    background-color: rgb(194, 236, 255);
}