* {
    padding: 0;
    margin: 0;
}

.menu {
    z-index: 1;
}

/*
.menu a {
    text-decoration: none;
    color: black;
}

.menu ul {
    list-style: none;
}

.menu-lateral img { 
  
    width: 45px;
    height: 45px;
    top: 0px;
    position: fixed;
    left: -1px;
    
   
}

nav {
    background-color: rgba(16, 15, 15, 0.5);
    width: 150px;
    height: 300px;
    left: -350px;
    position: fixed;
    z-index: 1;
    transition: all .5s;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(350px);
}


input[type="checkbox"] {
    display: none;
}

.menu ul {
    padding-left: 0px;
    top: 10px;
    position: absolute;
    width: 100%;
}

.menu a {
    display: block;
    padding: 20px 5px;
    color: white;
}

.menu a:hover {
    background-color: rgb(179, 212, 243);
    color: black;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 2;

}
*/